@CHARSET "UTF-8";

body{
	font-family: Microsoft Yahei, Georgia, serif;
	background-size:cover;
	width:960px;
	margin:0 auto;
}

.content{
	margin:0 auto;
	width:900;
	padding:5px 5px 5px 5px;
	background:#eee;
	min-height:500px;
}

.menu{
	width:100%;
	background:#0076af;
	color:white;	
}

.menu td{
	text-align:left;
}
.menu a{
	color:#97ff97;
	margin-left:20px;
}

.query{
	margin-top:10px;
}